body {
	background: url(../images/escheresque_ste.png);
	color: white;
	font-family: "asdf";
}

#title {
	font-size: 22px;
	color: rgb(255,102,0);
}

p {
	font-size: 18px;
}

@font-face {
	font-family: "asdf";
	src: url(../fonts/ms_pgothic.ttf);
}
.orange {
	color: rgb(255,102,0) !important;
}

#two {
	font-size: 30px;
}

#three {
	font-size: 35px;
}

a {
	color: rgb(255,102,0);
	text-decoration: none;
}
